# 案例研究：Excel报表

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
from openpyxl.styles import Font, Alignment
from openpyxl.formatting.rule import CellIsRule
from openpyxl.chart import BarChart, Reference
from openpyxl.chart.shapes import GraphicalProperties
from openpyxl.drawing.line import LineProperties

In [30]:
# 获取当前文件夹
this_path = Path(".").resolve()
# 扫描该文件夹下左右Excel文件
data_list = []
for path in (this_path / 'data/sales_data').rglob('*.xls*'):
    data_frame = pd.read_excel(path)
    data_list.append(data_frame)
# 将列表转换为DataFrame
df = pd.concat(data_list)
# 透视表得到汇总数据
pivot = pd.pivot_table(data=df,
                       values='amount',
                       index='transaction_date',
                       columns='store',
                       aggfunc='sum')
# 采样得到月份汇总数据
summary = pivot.resample('M').sum()
summary.index.name = 'Month'
# 对销售数据降序排列
summary = summary.loc[:, summary.sum().sort_values().index]

In [31]:
# 加入列汇总
summary['Total'] = summary.sum(axis=1)
# 加入行汇总
summary = summary.append(summary.sum(axis=0).rename('Total'))

/var/folders/ml/8mffbtvx25b6ftr05mlfbtqm0000gn/T/ipykernel_10651/2383763196.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  summary = summary.append(summary.sum(axis=0).rename('Total'))

In [32]:
summary

store,Washington DC,Boston,Las Vegas,New York,Chicago,San Francisco,Total
Month,,,,,,,
2019-01-31 00:00:00,14057.60,21784.10,23012.75,49872.85,51187.70,58629.85,218544.85
2019-02-28 00:00:00,15235.40,21454.90,25493.10,46669.85,52330.85,55218.65,216402.75
2019-03-31 00:00:00,14177.05,20043.00,23451.10,41572.25,48897.25,52712.95,200853.60
2019-04-30 00:00:00,13339.15,18791.05,22710.15,41714.30,47396.35,49324.65,193275.65
2019-05-31 00:00:00,13147.10,18036.75,21526.55,40610.40,45117.05,47759.60,186197.45
2019-06-30 00:00:00,14284.30,21556.25,21985.05,47265.65,49460.45,53462.40,208014.10
2019-07-31 00:00:00,14161.50,19853.00,23444.30,40408.30,47993.80,50181.60,196042.50
2019-08-31 00:00:00,16127.05,22332.90,24927.65,45396.85,50838.90,55336.35,214959.70
2019-09-30 00:00:00,14994.40,19924.50,24410.70,42830.60,49096.25,49931.45,201187.90
2019-10-31 00:00:00,12846.70,16550.95,22827.50,34090.05,42543.80,44311.65,173170.65
2019-11-30 00:00:00,14057.60,21312.90,24860.25,46959.85,52011.60,55056.45,214258.65
2019-12-31 00:00:00,14702.15,19722.60,24535.75,42364.35,49355.10,50933.45,201613.40
Total,171130.00,241362.90,283184.85,519755.30,586229.10,622859.05,2424521.20

In [33]:
summary.shape

(13, 7)

In [ ]:
# 设置数据开始的行列位置
start_row, start_col = 3,2
nrows, ncols = summary.shape