In [18]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

## Series

In [4]:
obj = pd.Series([4, 7, -5, 3])
obj
# 第一列为索引，第二列为值

0    4
1    7
2   -5
3    3
dtype: int64

In [5]:
obj.values

array([ 4,  7, -5,  3])

In [6]:
obj.value_counts()

 4    1
 7    1
-5    1
 3    1
dtype: int64

In [7]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
# 创建时指定索引
obj1 = pd.Series([4, 7, -5, 3], index=['a', 'b', 'c', 'd'])

In [9]:
obj1

a    4
b    7
c   -5
d    3
dtype: int64

In [10]:
# 使用标签对数据进行索引
obj1['a']

4

In [14]:
obj1[['b', 'd']]

b    99
d     3
dtype: int64

In [11]:
# 重新赋值
obj1['b'] = 99

In [12]:
obj1

a     4
b    99
c    -5
d     3
dtype: int64

In [15]:
obj1[obj1 > 0]

a     4
b    99
d     3
dtype: int64

In [16]:
obj1 * 2

a      8
b    198
c    -10
d      6
dtype: int64

In [20]:
np.exp(obj1)

a    5.459815e+01
b    9.889030e+42
c    6.737947e-03
d    2.008554e+01
dtype: float64

In [21]:
# 可以认为Series当作长度固定有序的字典
'b' in obj1

True

In [22]:
'e' in obj1

False

In [26]:
# 可以使用字典来生成一个Series
dict1 = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj2 = pd.Series(dict1)

In [27]:
obj2

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [28]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj3 = pd.Series(dict1, index=states)

In [29]:
obj3

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [30]:
pd.isnull(obj3)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [31]:
pd.notnull(obj3)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [33]:
# 数学操作中，会自动对其索引，与数据库的join操作非常类似
obj2 + obj3

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [35]:
# Series自身属性
obj3.name = 'population'
obj3.index.name = 'state'

In [36]:
obj3

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [37]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [38]:
# 通过按位索引的方式改变索引的值
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']

In [39]:
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [42]:
pd.Series(['a', 'b', 'c', 'd'], index=[1, 2, 3, 4])

1    a
2    b
3    c
4    d
dtype: object

## Dataframe

In [45]:
# 可以使用列表或者字典来创建DataFrame
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2001, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
df = pd.DataFrame(data)

In [46]:
df

    state  year  pop
0    Ohio  2001  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [47]:
# head方法只会挑选出前5行
df.head()

    state  year  pop
0    Ohio  2001  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [48]:
# 如果指定的列不在原数据中，对应指定的列会显示为NaN
df2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'], index=['one', 'two', 'three', 'four', 'five', 'six'])

In [49]:
df2

       year   state  pop debt
one    2001    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

In [52]:
# 取出指定的列
df2['state']

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
six      Nevada
Name: state, dtype: object

In [53]:
# df2['state1'] 如果列不存在则会跑出错误

KeyError: 'state1'

In [54]:
# df2.state1 # 同上

AttributeError: 'DataFrame' object has no attribute 'state1'

In [55]:
# 行也可以通过位置或特殊属性loc进行选取
df2.loc['three']

year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object

In [56]:
# 列的引用是可以修改的，设置为标量值
df2.debt = 16.5

In [57]:
df2

       year   state  pop  debt
one    2001    Ohio  1.5  16.5
two    2001    Ohio  1.7  16.5
three  2002    Ohio  3.6  16.5
four   2001  Nevada  2.4  16.5
five   2002  Nevada  2.9  16.5
six    2003  Nevada  3.2  16.5

In [59]:
# 或者设置为值数组
df2.debt = np.arange(6)

In [60]:
df2

       year   state  pop  debt
one    2001    Ohio  1.5     0
two    2001    Ohio  1.7     1
three  2002    Ohio  3.6     2
four   2001  Nevada  2.4     3
five   2002  Nevada  2.9     4
six    2003  Nevada  3.2     5

In [61]:
# 当将Series赋值给DataFrame时，会按照索引重新排列，并在空缺的地方填充NaN
# 如果对应的列不存在，会新建一个列
series = pd.Series([1.2, -1.5, 1.7], index=['three', 'one', 'four'])
df2.debt = series
df2

       year   state  pop  debt
one    2001    Ohio  1.5  -1.5
two    2001    Ohio  1.7   NaN
three  2002    Ohio  3.6   1.2
four   2001  Nevada  2.4   1.7
five   2002  Nevada  2.9   NaN
six    2003  Nevada  3.2   NaN

In [63]:
df2['eastern'] = df2.state == 'Ohio'
#不能使用df2.eastern创建新的列

In [64]:
df2

       year   state  pop  debt  eastern
one    2001    Ohio  1.5  -1.5     True
two    2001    Ohio  1.7   NaN     True
three  2002    Ohio  3.6   1.2     True
four   2001  Nevada  2.4   1.7    False
five   2002  Nevada  2.9   NaN    False
six    2003  Nevada  3.2   NaN    False

In [72]:
# 字典嵌套的字典
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
df3 = pd.DataFrame(pop)

In [73]:
df3

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

In [79]:
df3.index.name = 'year'
df3.columns.name = 'state'

In [81]:
df3

state  Nevada  Ohio
year
2001      2.4   1.7
2002      2.9   3.6
2000      NaN   1.5

In [82]:
# 转置
df3.T

year    2001  2002  2000
state
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5

In [89]:
df3.values

array([[2.4, 1.7],
       [2.9, 3.6],
       [nan, 1.5]])

In [90]:
obj = pd.Series(range(3), index=['a', 'b', 'c'])

In [91]:
obj

a    0
b    1
c    2
dtype: int64

In [92]:
index = obj.index
index

Index(['a', 'b', 'c'], dtype='object')

In [93]:
index[1:]

Index(['b', 'c'], dtype='object')

In [95]:
# 索引对象是不可变的，无法修改
#index[1]='e'
# TypeError: Index does not support mutable operations

In [97]:
labels = pd.Index(np.arange(3))
labels

Int64Index([0, 1, 2], dtype='int64')

In [99]:
obj4 = pd.Series([1.5, -2.5, 0], index=labels)
obj4

0    1.5
1   -2.5
2    0.0
dtype: float64

In [100]:
df3

state  Nevada  Ohio
year
2001      2.4   1.7
2002      2.9   3.6
2000      NaN   1.5

In [101]:
df3.columns

Index(['Nevada', 'Ohio'], dtype='object', name='state')

In [102]:
'Ohio' in df3.columns

True

In [103]:
2003 in df3.index

False

In [105]:
# pandas索引对象可以包含重复标签
dup_labels = pd.Index(['foo', 'foo', 'bar', 'bar'])
dup_labels

Index(['foo', 'foo', 'bar', 'bar'], dtype='object')

In [107]:
dup_labels.append(pd.Index(['bar']))

Index(['foo', 'foo', 'bar', 'bar', 'bar'], dtype='object')

In [108]:
df3.index

Int64Index([2001, 2002, 2000], dtype='int64', name='year')

In [110]:
index1 = pd.Index(['cat', 'dog', 'pig', 'tiger'])
index2 = pd.Index(['cat', 'tiger'])
# 两个索引的差集
index1.difference(index2)

Index(['dog', 'pig'], dtype='object')

In [111]:
# 两个索引的交集
index1.intersection(index2)

Index(['cat', 'tiger'], dtype='object')

In [112]:
index1.delete(1) # 删除其中的一个索引，传入的参数时索引的位置

Index(['cat', 'pig', 'tiger'], dtype='object')

In [113]:
index1.insert(1, 'horse')

Index(['cat', 'horse', 'dog', 'pig', 'tiger'], dtype='object')