In [1]:
import numpy as np

In [2]:
def add_numbers(x, y):
    return x + y

柯里化：部分函数应用

In [3]:
add_five = lambda y: add_numbers(5, y)

In [4]:
add_five(7)

12

In [6]:
# 使用偏函数简化
from functools import partial
add_five_1 = partial(add_numbers, 5)

In [7]:
add_five_1(10)

15

In [8]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

In [9]:
dict_iterator = iter(some_dict)
list(dict_iterator)

['a', 'b', 'c']

In [10]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n**2))
    for i in range(1, n+1):
        yield i**2

In [17]:
gen = squares()

In [18]:
for i in gen:
    print(i, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [19]:
gen1 = (x**2 for x in range(1, 11))
gen1

In [20]:
list(gen1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [21]:
sum(x**2 for x in range(10))

285

In [23]:
list(x**2 for x in range(10))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
dict((i, i**2) for i in range(10))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [25]:
import itertools

In [26]:
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [27]:
names

['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

In [29]:
first_letter = lambda x: x[0]

In [30]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [79]:
path = 'data/createtable.txt'
with open(path, 'r') as f:
    for i in f:
        print(i)

CREATE TABLE area_city_ad_count (

  dt varchar(255) NOT NULL,

  area varchar(255) NOT NULL,

  city varchar(255) NOT NULL,

  adid varchar(255) NOT NULL,

  count bigint(20) DEFAULT NULL,

  PRIMARY KEY (dt,area,city,adid)

) ENGINE=InnoDB DEFAULT CHARSET=utf8

In [82]:
# 将文件内容形成不带EOL的列表
f = open(path)
lines = [x.strip() for x in open(path)]
print(lines)
f.close()

['CREATE TABLE area_city_ad_count (', 'dt varchar(255) NOT NULL,', 'area varchar(255) NOT NULL,', 'city varchar(255) NOT NULL,', 'adid varchar(255) NOT NULL,', 'count bigint(20) DEFAULT NULL,', 'PRIMARY KEY (dt,area,city,adid)', ') ENGINE=InnoDB DEFAULT CHARSET=utf8']

In [83]:
import sys
sys.getdefaultencoding()

'utf-8'

In [84]:
with open(path) as f1:
    lines = f1.readlines()
lines

['CREATE TABLE area_city_ad_count (\n',
 '  dt varchar(255) NOT NULL,\n',
 '  area varchar(255) NOT NULL,\n',
 '  city varchar(255) NOT NULL,\n',
 '  adid varchar(255) NOT NULL,\n',
 '  count bigint(20) DEFAULT NULL,\n',
 '  PRIMARY KEY (dt,area,city,adid)\n',
 ') ENGINE=InnoDB DEFAULT CHARSET=utf8']

In [85]:
with open(path) as f2:
    chars = f2.read(10)
chars

'CREATE TAB'

In [86]:
#二进制方式读取
with open(path, 'rb') as f:
    data = f.read(10)
data

b'CREATE TAB'

In [87]:
data.decode('utf8')

'CREATE TAB'

In [88]:
data[:4].decode('utf8')

'CREA'