In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.DataFrame({"key1":["a", "a", None, "b", "b", "a", None],
                   "key2": pd.Series([1, 2, 1, 2, 1, None, 1], dtype="Int64"),
                   "data1": np.random.standard_normal(7),
                   "data2": np.random.standard_normal(7)})
df

   key1  key2     data1     data2
0     a     1 -0.619238  1.253935
1     a     2  0.026551  2.375344
2  None     1 -0.653026 -0.215962
3     b     2 -1.397114  0.447492
4     b     1 -0.112827  0.653291
5     a  <NA> -0.695121 -0.476546
6  None     1  0.081266 -1.166026

In [16]:
grouped = df["data1"].groupby(df["key1"])
grouped

In [12]:
grouped.cumsum()

0   -0.619238
1   -0.592687
2         NaN
3   -1.397114
4   -1.509941
5   -1.287809
6         NaN
Name: data1, dtype: float64

In [13]:
grouped.describe()

,count,mean,std,min,25%,50%,75%,max
key1,,,,,,,,
a,3.0,-0.42927,0.396571,-0.695121,-0.657180,-0.619238,-0.296344,0.026551
b,2.0,-0.75497,0.908128,-1.397114,-1.076042,-0.754970,-0.433899,-0.112827

In [14]:
grouped.mean()

key1
a   -0.42927
b   -0.75497
Name: data1, dtype: float64

In [19]:
df.groupby("key1").mean()

      key2    data1     data2
key1
a      1.5 -0.42927  1.050911
b      1.5 -0.75497  0.550392

In [23]:
(df.groupby("key2").sum())

     key1     data1     data2
key2
1      ab -1.303825  0.525237
2      ab -1.370563  2.822836

In [24]:
df.groupby(["key1", "key2"]).mean()

              data1     data2
key1 key2
a    1    -0.619238  1.253935
     2     0.026551  2.375344
b    1    -0.112827  0.653291
     2    -1.397114  0.447492